/* masquer header django */
.admin-interface #header{
    /* display:none; */
}

/* masquer les boutons import-export
.export_link,
.import_link{
    display: none!important;
}*/


/* fiche prescription */

#planteprescriptionjingfang_set-group,
#planteprescriptionzangfuqui_set-group{
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin:0 10px;
}

.field-plante select{
    width: 200px;
}


/* fiche plante */
#plante_form .form-row{
    display: inline-block;
    width: 45%;
    /*border:0;*/
}

#plante_form .form-row+.field-famille_plante div{
    display: inline-block;
}



#plante_form .form-row:nth-child(3){
     width: 100%;
}

#plante_form .form-row:nth-child(6){
    vertical-align: top;
}

#add_id_famille_plante{
    display: none;
}


/* fiche pathologie */



.field-explications,
.field-explications_acu,
.field-explications_pharma,
.field-traitement_acu,
.field-traitement_pharma,
.field-symptome{
    /*display: inline-block;
    width: 45%;*/
    /*height: 400px !important;
    overflow-y: scroll;*/
}

.aligned label{
    float:unset;
}

.form-row {
  width: 45%;
  display: inline-block;
}


.vLargeTextField, .vTextField{
    width: 95%!important;
}


/* CKEditor */
/*.cke_contents {
  height: 100px !important;
}*/

/* POINTS ZONES GRANDES ZONES */
.field-maitreTung_zone, .field-maitreTungColor1, .field-maitreTungColor2,
.field-maitreHu_zone, .field-maitreHuColor1, .field-maitreHuColor2{
    width: 30%;
    vertical-align: top;
}
div.help{
    margin-left: 0!important;
}
.field-point{
    vertical-align: top;
}
.aligned label{
    width: unset;
}


/* contact : masquer les champs de mise en forme */
*[id^='id__mef'],
.form-row+.field-_mef3,
.form-row+.field-_mef18,
.form-row+.field-_mef31,
.form-row+.field-_mef41,
.form-row+.field-_mef52,
.form-row+.field-_mef64,
.form-row+.field-_mef76,
.form-row+.field-_mef85{
    display: none!important;
}

.form-row+.field-_mef2,
.form-row+.field-_mef17,
.form-row+.field-_mef30,
.form-row+.field-_mef40,
.form-row+.field-_mef51,
.form-row+.field-_mef63,
.form-row+.field-_mef75,
.form-row+.field-_mef84{
    border-top:solid 1px lightgray;
}

*[for^='id__mef']{
    font-weight: bold;
    width: 100%!important;
}

*[for^='id__mef43'],
*[for^='id__mef44'],
*[for^='id__mef45'],
*[for^='id__mef46'],
*[for^='id__mef47'],
*[for^='id__mef75']{
    font-weight: normal;
}

.form-row{
    border: 0;
}

*[id^='id_Commentaires_']{
    width: 95%;
}

#id_Traitement_1,
#id_Traitement_2,
#id_Traitement_3,
#id_Traitement_4,
#id_Operation_1,
#id_Operation_2,
#id_Operation_3,
#id_Motif_1,
#id_Motif_2,
#id_Motif_3,
*[for^='id_Traitement_1'],
*[for^='id_Traitement_2'],
*[for^='id_Traitement_3'],
*[for^='id_Traitement_4'],
*[for^='id_Operation_1'],
*[for^='id_Operation_2'],
*[for^='id_Operation_3'],
*[for^='id_Motif_1'],
*[for^='id_Motif_2'],
*[for^='id_Motif_3'],
*[id^='id_M1'],
*[id^='id_M2'],
*[id^='id_M3'],
*[for^='id_M1'],
*[for^='id_M2'],
*[for^='id_M3'],
#id_Medecin,
*[for^='id_Medecin']{
    width: 80%!important;
}