/* fiche prescription */

#planteprescriptionjingfang_set-group,
#planteprescriptionzangfuqui_set-group{
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin:0 10px;
}

.field-plante select{
    width: 200px;
}


/* fiche plante */
#plante_form .form-row{
    display: inline-block;
    width: 45%;
    /*border:0;*/
}

#plante_form .form-row+.field-famille_plante div{
    display: inline-block;
}



#plante_form .form-row:nth-child(3){
     width: 100%;
}

#plante_form .form-row:nth-child(6){
    vertical-align: top;
}

#add_id_famille_plante{
    display: none;
}


/* contact : masquer les champs de mise en forme */
*[id^='id__mef'],
.form-row+.field-_mef3,
.form-row+.field-_mef18,
.form-row+.field-_mef31,
.form-row+.field-_mef41,
.form-row+.field-_mef52,
.form-row+.field-_mef64,
.form-row+.field-_mef76,
.form-row+.field-_mef85{
    display: none!important;
}

.form-row+.field-_mef2,
.form-row+.field-_mef17,
.form-row+.field-_mef30,
.form-row+.field-_mef40,
.form-row+.field-_mef51,
.form-row+.field-_mef63,
.form-row+.field-_mef75,
.form-row+.field-_mef84{
    border-top:solid 1px lightgray;
}

*[for^='id__mef']{
    font-weight: bold;
    width: 100%!important;
}
*[for^='id__mef43'],
*[for^='id__mef44'],
*[for^='id__mef45'],
*[for^='id__mef46'],
*[for^='id__mef47'],
*[for^='id__mef75']{
    font-weight: normal;
}

.form-row{
    border: 0;
}

*[id^='id_Commentaires_']{
    width: 95%;
}
